---
- name: Check available Java versions
  shell: yum list available | grep -i openjdk | head -10
  register: available_java
  changed_when: false
  failed_when: false
  tags:
    - java

- name: Install Java OpenJDK 17
  shell: yum -y install java-17-amazon-corretto-devel
  when: 
    - not use_dnf | default(false) | bool
    - "'java-17-openjdk-devel' not in available_java.stdout"
  tags:
    - java

- name: Set JAVA_HOME environment variable
  lineinfile:
    path: /etc/profile.d/java.sh
    line: "export JAVA_HOME=$(dirname $(dirname $(readlink -f $(which java))))"
    create: yes
    mode: '0644'
  tags:
    - java

- name: Verify Java installation
  command: java -version
  register: java_version_output
  changed_when: false
  tags:
    - java

- name: Display installed Java version
  debug:
    msg: "{{ java_version_output.stderr_lines }}"
  tags:
    - java
