---
plugin: amazon.aws.aws_ec2
strict: false

regions:
  - us-east-1

filters:
  tag:Name: jenkins
  instance-state-name: running

hostnames:
  - tag:Name
  - public_dns_name
  - public_ip_address

compose:
  ansible_user: ec2-user
  ansible_ssh_private_key_file: "../terraform/vockey.pem"
  ansible_host: public_ip_address
  ansible_python_interpreter: /usr/bin/python3.8

keyed_groups:
  - key: tags.Name
    prefix: tag_Name
    separator: _

  - key: tags.Environment
    prefix: env
    separator: _
    
  - key: instance_type
    prefix: instance_type
    separator: _

  - key: placement.availability_zone
    prefix: az
    separator: _
